h1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 95px;
  color: white;
  background: linear-gradient(45deg, #ffffff, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  margin-top: 10rem;
  margin-bottom: 5rem;
}

h1::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 25%;
  height: 3px;
  background-color: black;
  box-shadow: 0 4px 6px rgba(0,0,0,0.4);
}

.my-btn {
  background: linear-gradient(45deg, #ff512f, #f09819);
  color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.pos {
  display: flex;
  align-items: center;
  justify-content: center;
}



