<div class="container"> ⚠
  <div class="row">
    <h3 class="head">
      Create Task ...
    </h3>
    <app-form-builder-new
      saveButtonName="Create Task"
      [items]='formItem'
      buttonWidth='30%'
      [patchValue]='data'
      [fixedButton]="false"
      [callerStatus]='callerStatus'
      (formResult)='addTask($event)'>
    </app-form-builder-new>
    <div class="btn">
      <button mat-fab extended color="accent" class="my-btn" [routerLink]="['/tasks']">
        <mat-icon>visibility</mat-icon>
        Back to Task
      </button>
    </div>
  </div>
</div>
