/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/css/all.css';

html, body {
  height: 100%;
  margin: 0;
}

app-root {
  min-height: 100vh;
  width: 100%;
  display: block;
  background: linear-gradient(140deg, rgba(159, 53, 37, 1) 30%, rgba(170, 112, 42, 1) 100%);
  padding-top: 40px;
  font-family: "Noto Sans Mro", sans-serif !important;
}
